@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    font-family: 'Raleway', sans-serif !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #141e30 0%, #243b55 100%);
}

#background {
    position: absolute;
}

.title {
    font-weight: 500;
    display: inline;
}

.subtitle {
    font-weight: 200;
    position: relative;
}

.social-media {
    z-index: 10;
    position: relative;
}

.social-media li {
    display: inline;
}

.social-media li a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
}

.social-media li a:hover{
    opacity: 1.0;
}

.social-media li~li {
  margin-left: 3%; 
}
